<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <title> Organizations </title>
    <base href = "http://127.0.0.1:5000">
</head>
<body>
    <h1>Welcome</h1>
    <h2> List of Organizations </h2>
    {%for row in orgs%}
    <form method="post"> 
        <a href = "org/{{ row['name'] }}">{{row["name"]}} </a>
        <button name = "remove", value = "{{row['name']}}" >Remove</button> 
    </form>
    {%endfor%}
    {%if orgs|length == 0%}
        <i>There are currently no organizations.</i> <br>
    {%endif%}
    <br>
    <form method = "post">
        <input type = "text" name = "neworgname" value="{{ request.form.neworgname }}">
        <input type = "submit" value = "Add New Organization">
    </form><br>
    {{warn}}
    {%if show%}
    <form method = "post">
        <input name = "confirm" type = "submit" value = "Confirm">
        <input name = "confirm" type = "submit" value = "Cancel">
    </form>
    {%endif%}
</body>
<!-- big words organization on top -->
<!-- below a list of each organization with a button for deleting-->
<!-- each org can be a link you click on -->
<!-- so like ORG_NAME(link to next webpage) REMOVE(button to remove)-->
<!-- for all existing organizations in db-->
<!-- afterwards it's a button with ADD NEW ORGANIZATION-->
</html>