<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <title> Organizations </title>
</head>
<body>
    <h1>List of Organizations</h1>
</body>
<!-- big words organization on top -->
<!-- below a list of each organization with a button for deleting-->
<!-- each org can be a link you click on -->
<!-- so like ORG_NAME(link to next webpage) REMOVE(button to remove)-->
<!-- for all existing organizations in db-->
<!-- afterwards it's a button with ADD NEW ORGANIZATION-->
</html>