<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <title> {{contact['first_name']}} {{contact['last_name']}}</title>
    <base href = "http://127.0.0.1:5000">
</head>
<body>
    <h1>{{contact['first_name']}} {{contact['last_name']}}</h1>
    <h3>Born {{contact['dob']}}<br>
    Member of <a href = "{{orgname}}">{{orgname}}</a><br></h3>
    
    {%if info|length == 0%}
    <i>There is no information related to this contact.</i><br>
    {%else%}
        <table>
            <tr>
                <th>Label</th>
                <th>Info</th>
                <th></th>
            </tr>
            {%for i in info%}
            <tr>
                <td>{{i['label']}}</td>
                <td>{{i['info']}}</td>
                <td>
                    <form method = "post">
                        <button name = "change" value = {{i['id']}}>Edit</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
            
        </table>
        
    {%endif%}

    <br>
    <form method = "post">
        <button name = "change" value = 0>Add New Info</button>
    </form>
    <br>

    {%if request.form.prompt is not none%}
    <form method = "post">
        <input type = "hidden" name = "prompt" value = {{request.form.prompt}}>
        <h3>
        {%if request.form.prompt|int == 0%}
            Add Info
        {%else%}
            Edit Info
        {%endif%}
        </h3>
        <label for = "cat">Enter Numeric Category:</label>
        <input type = "text" name = "cat" placeholder = "Enter number" value = {{request.form.cat}}>
        <br>
        <label for = "label">Enter Label</label>
        <input type = "text" name = "label" placeholder = "Enter label" value = {{request.form.label}}>
        <br>
        <label for = "info">Enter Info:</label>
        <input type = "text" name = "info" placeholder = "Enter info" value = {{request.form.info}}>
        <br><br>
        <input type = "submit" name = "confirm" value = "Confirm">
        {%if request.form.prompt|int != 0%}
            <input type = "submit" name = "confirm" value = "Delete">
        {%endif%}
        <input type = "submit" name = "confirm" value = "Cancel">

    </form>
    {%endif%}
    {{message}} 
    {%if request.form.delete is not none%}
    <form method = "post">
        <input type = "hidden" name = "delete" value = {{request.form.delete}}>
        <input type = "submit" name = "confirm" value = "Confirm">
        <input type = "submit" name = "confirm" value = "Cancel">
    </form>
    {%endif%}
    

</body>
    
    
</html>